header{

    width: 100%;

    height: 80px;
    
    padding: 10px;

    padding-left: 20px;
    padding-right: 50px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    font-size: 1.5em;

    font-weight: bold;

    font-family: var(--title);

    position: sticky;
    top: 0;

    z-index: 500;

    color: white;

    background-color: #0077ff;

}

header .logo{

    background-image: url(../img/logo.svg);

    background-size: 100% 100%;

    width: 70px;

    height: 70px;

    background-position: center;

    border-radius: 4px;

}

header .car-parent{

    z-index: -100;

}

header .car{

    height: 100%;

    width: 45px;

    height: 45px;

    background-color: white;

    box-sizing: content-box;

    padding: 5px;

    border-radius: 10px;

    color: black;

    z-index: -100;

}

header .modal{

    background-color: rgba(0, 0, 0, 0.5);

    backdrop-filter: blur(10px);

    position: absolute;

    width: 100%;

    height: 100vh;

    top: 0;

    left: 0;

    z-index: 500;

    display: flex;

    justify-content: center;

    align-items: center;

    color: black;

}

header .modal .close{

    position: absolute;

    width: 100%;

    height: 100%;

}

header .modal .close .cross{

    color: white;

    width: 70px;

    height: 70px;

    position: absolute;

    right: 20px;

    top: 20px;

    background-color: red;

    border-radius: 4px;

    box-shadow: 0 1px 2px black;

    cursor: pointer;

}

header .modal .products{

    width: 80%;

    height: 80%;

    background-color: white;

    z-index: 200;

    border-radius: 10px;

    display: grid;

    grid-template-rows: auto min-content 100px;

    padding: 20px;

    gap: 15px;

    box-shadow: 0 0 5px black;

}

header .modal .products > button{

    background-color: gold;

    font-size: 2rem;

    box-shadow: 0 2px 2px black;

}

header .modal .products .total{

    font-weight: bold;

    font-family: Varela;

}

header .modal .products .total span{

    color: green;

}

header .modal .products .item-list{

    width: 100%;
    height: 100%;

    overflow-y: scroll;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    justify-items: center;

    position: relative;

    gap: 10px;

}

header .modal .products .item-list h2{

    position: absolute;

    font-size: 1.5em;

    color: grey;

    font-family: sans-serif;

    top: 40%;

} 

header .modal .products .item-list .item{

    display: flex;

    justify-content: center;

    align-items: center;

    flex-direction: column;

    height: min-content;

    padding: 15px;

    width: 100%;

    border-radius: 3px;

}

header .modal .products .item-list .item > *:not(:last-child){

    margin-bottom: 6px;

}

header .modal .products .item-list .item .price{

    font-family: var(--normal);

    color: green;

}

header .modal .products .item-list .item button{

    background-color: red;

    color: white;

    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);

    width: 100%;

    font-size: 1.1rem;

}

header .modal .products .item-list .item .img{

    height: 100px;

    width: 100px;

    background-size: 100% 100%;

}

header .car-container{

    padding: 0;

}