
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

html, body{

  display: grid;

  height: 100vh;

}

#root{

  height: 100%;

}

.root{

  position: relative;

  width: 100%;

  height: 100%;

  --title: Vollkorn;

  --normal: Varela;

  font-family: Varela;

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input{

  outline: none;

}

p{

  margin: 0;

}