
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

.root{

  width: 100%;

  display: flex;

  flex-direction: column;
  
  --title: Vollkorn;

  --normal: Varela;

  font-family: Varela;

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input{

  outline: none;

}

p{

  margin: 0;

}