.main{

    height: 100%;

    display: flex;

}

.main .search{

    width: 250px;

    height: auto;

    display: flex;

    flex-direction: column;

    padding: 10px;

    padding-top: 40px;

    border-right: 1px rgb(179, 179, 179) solid;

    color: #2B2C28;

}

.main .search h5{

    margin-top: 15px;

    color: #8B8BAE;

    font-size: 1em;

    font-weight: normal;

}

.main .search .categories{

    display: flex;

    flex-direction: column;

    width: 100%;

}

.main .search .categories .container{

    margin: 0;

}

.main .search .input-search {

    margin-bottom: 18px;

}

.main .search .container{

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 18px;

}

.main .shop{

    width: 100%;

    height: 100%;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    grid-auto-rows: 1fr;

    justify-items: center;

    padding: 20px;

}

.main .shop .item{

    width: 100%;

    height: 100%;

    padding: 5px;

    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;

    flex-direction: column;

    justify-content: space-around;

    border-radius: 4px;

    align-items: center;

    --time: 200ms;

    transition: all var(--time);

    background-color: white;

    position: relative;

}

.main .shop .item:hover .name{

    opacity: 1;

}

.main .shop .item:hover .container{

    /* top: 100%; */

    opacity: 1;

    transition: all var(--time);

}

.main .shop .item:hover button{

    opacity: 1;

    transition: opacity var(--time);

}
.main .shop .item:hover{

    bottom: 8px;

    box-shadow: 0 0 2px black;

    transition: var(--time);

    transform: scale(1.05);

    z-index: 500;

}

.main .shop .item .description{

    margin-right: auto;

}

.main .shop .item .img{

    background-size: 100% 100%;

    background-position: center;

    height: 150px;

    width: 150px;

}

.main .shop .item .name{

    font-weight: bold;

    opacity: 0;

    color: #131515

}

.main .shop .item .button{

    border-radius: 4px;

    font-weight: bold;

    height: 40px;

    width: 40px;

    color: inherit;

    background-color: rgb(0, 207, 0);

    color: white;

    right: 5px;

    top: 5px;

    position: absolute;

    font-size: 2em;

    opacity: 0;

    transition: opacity var(--time);

    box-shadow: 0 1px 2px black;

    padding: 0;

}

.main .shop .item .container{

    display: flex;

    width: 100%;

    justify-content: space-between;

    align-items: center;

    border-radius: 20px;

    padding-right: 3px;

    padding-left: 10px;

    padding-right: 10px;

    opacity: 0;

}

.main .shop .item .categories{

    width: 100%;

    height: 100%;

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    justify-items: center;

}

.main .shop .item .categories > *{

    margin-right: 5px;

    font-style: italic;

    position: relative;

}

.main .shop .item .price{

    color: rgb(100, 211, 100);

    font-weight: bold;

}